name: Deploy to Vercel

on:
  push:
    branches:
      - master

jobs:
  deploy-to-vercel:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Authenticate with Vercel
        run: npx vercel login --token ${{ secrets.VERCEL_TOKEN }}

      - name: Deploy to Vercel
        run: |
          npx vercel --prod --token ${{ secrets.VERCEL_TOKEN }}
